[submodule "boring-sys/deps/boringssl"]
	path = boring-sys/deps/boringssl
	url = https://github.com/gituser-rs/boringssl.git
	branch = master
[submodule "boring-sys/deps/boringssl-fips"]
	path = boring-sys/deps/boringssl-fips
	url = https://github.com/gituser-rs/boringssl.git
	branch = master